---
title: Run the App Locally
owner: Tobias Fuhrimann
---

<strong><%= modified_date %></strong>

Now start your application locally using the `dotnet run` command:

<pre class="terminal">
$ dotnet run

Project app (.NETCoreApp,Version=v1.0) will be compiled because expected outputs are missing
Compiling app for .NETCoreApp,Version=v1.0

Compilation succeeded.
    0 Warning(s)
    0 Error(s)

...
</pre>

Open <a href="http://localhost:5000" target="_blank">http://localhost:5000</a> with your web browser. You should see your app running locally.

To stop the app from running locally, in the CLI, press `Ctrl+C` to exit.

<div style="text-align:center;margin:3em;">
  <a href="./push-changes.html" class="btn btn-primary">I can run my App locally</a>
</div>
